{% extends "locations/base_locations.html" %}

{% block title %}{{ block.super }}: {{ city }}{% endblock %}

{% block content_title %}
	<h2>{{ city }}</h2>
{% endblock %}

{% block content %}
	<ul class="link_list">
		{% for point in city.point_set.all %}{% for location in point.location_set.all %}
			<li id="location_{{ location.id }}">
				<a href="{{ location.get_absolute_url }}">{{ location.title }}</a>
			</li>
		{% endfor %}{% endfor %}
	</ul>
{% endblock %}