{% extends "locations/base_locations.html" %}

{% block title %}{{ block.super }}: {{ location.title }}{% endblock %}

{% block content_title %}
	<h2>{{ location.title }}</h2>
{% endblock %}

{% block content %}
	{{ description|safe }}
	
	<h3>Address</h3>
	<p>
		{% if location.point.address %}{{ location.point.address }},<br>{% endif %}
		{% if location.unit %}{{ location.unit }}<br>{% endif %}
		{{ location.point.city }}
		{% if location.point.postal_code %}{{ location.point.postal_code }}{% endif %}<br>
		{{ location.point.city.country }}
	</p>
	
	{% if location.phone or location.url or location.email %}
		<h3>Contact</h3>
		<dl>
			{% if location.phone %}
				<dt>Phone number</dt>
				<dd>{{ location.phone }}</dd>
			{% endif %}
			{% if location.url %}
				<dt>Website</dt>
				<dd><a href="{{ location.url }}" title="{{ location.title }} website">{{ location.url }}</a></dd>
			{% endif %}
			{% if location.email %}
				<dt>Email</dt>
				<dd><a href="mailto:{{ location.email }}" title="{{ location.title }} email">{{ location.email }}</a></dd>
			{% endif %}
		</dl>
	{% endif %}
{% endblock %}