{% extends "locations/base_locations.html" %}

{% block title %}{{ block.super }}: Locations{% endblock %}

{% block content_title %}
	<h2>Locations</h2>
{% endblock %}

{% block content %}
	<ul>
		{% for location in locations %}
			<li id="location_{{ location.id }}">
				<a href="{{ location.get_absolute_url }}">{{ location.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}